body{
     background-image: url("/image/bg-11-full.jpg"); //image url
    font-family: monospace;
}
.header{
	height: 30px;
	margin: 0px;
	margin-left: -8px;
	margin-top: -8px;
}
.header .gre{
	margin: 0px;
	display: inline-block;
	color: #0662ec;
	font-family: segoe ui;
	font-size: 20px;
}
.header .quotes{
	margin: 0px;
	float: right;
	display: inline-block;
	color: #058403;
	font-size: 20px;
}
.navbar {
	height: 30px;
	display: block;
	margin-top: 10px;
	margin-left: -8px;
}
.navbar ul{

}
.navbar ul li{
    margin: 0px;
	list-style: none;
	display: inline-block;
}
.navbar ul li a{
	margin: 0px;
	text-decoration: none;
	font-size: 15px;
	font-family: segoe ui;
	color: #f7f9f6;
	display: inline-block;
	padding: 5px;
	background-color: #3c3b3b;
}
.navbar ul li a:hover{
	margin: 0px;
	text-decoration: none;
	font-size: 15px;
	font-family: segoe ui;
	color: #fff;
	display: inline-block;
	padding: 5px;
}
.mainContainer{
	width: 100%;
	margin: 0px;
	display: block;
	font-size: 25px;
	margin-top: 10px;
}
.content{
    display: inline-block;
}
.content img{
	/* height: 200px; */
	/* width: 150px; */
}
.mainContainer .maincontent{
	background-image: url("/image/bg-11-full.jpg");
	display: inline-block;
	color: #fff;
	height: 500px;
	font-family: monospace;
	width: 77%;
	position: absolute;
	float: right;
	/* margin-left: 1px; */
	padding-left: 10px;
	background-color: white;
}
.footer{
	display: block;
	width: 100%;
	margin-top: 180px;
	height: 40px;
	margin-left: 0px;
}
.footer  h3{
	display: inline-block;
	font-size: 20px;
	color: #fff;
	margin-top: 5px;
}
.footer p{
	display: inline-block;
	font-size: 15px;
	color: cyan
}
b{
	color: #f00;
}
.cocurricular{
	height: 500px;
	overflow: scroll;
	overflow-x: hidden;
}
